{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block content %}

    {% if not user_can_continue %}
        <div class="col-sm-6">
            <p class="lead">Continue as Guest</p>
            <form method="POST" action=".">{% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-primary" value="Continue as Guest"/>
            </form>
        </div>
        <div class="col-sm-6">
            <p class="lead">Login to Continue.</p>
            <form method="POST" action="{% url 'auth_login' %}">{% csrf_token %}
                {{ login_form|crispy }}
                <input type="hidden" name="next" value="{{ next_url }}"/>
                <input type="submit" class="btn btn-primary" value="Login" />
            </form>
            <p class="text-center">
            <p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>
            <p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>
            </p>
        </div>

    {% else %}
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <p class="lead text-center">Order Summary</p>
                <table class="table">
                    <tr>
                        <th>Item</th>
                        <th>Amount</th>
                    </tr>
                    {% for item in order.cart.cartitem_set.all %}
                        <tr>
                            <td>{{ item.item.get_title }} - {{ item.quantity }}</td>
                            <td>{{ item.line_item_total }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td>Cart Subtotal</td>
                        <td>{{ order.cart.subtotal }}</td>
                    </tr>
                    <tr>
                        <td>Tax</td>
                        <td>{{ order.cart.tax_total }}</td>
                    </tr>
                    <tr>
                        <td>Items Total</td>
                        <td>{{ order.cart.total }}</td>
                    </tr>
                    <tr>
                        <td>Shipping</td>
                        <td>{{ order.shipping_total_price }}</td>
                    </tr>
                    <tr>
                        <td>Order Total</td>
                        <td>{{ order.order_total }}</td>
                    </tr>

                </table>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 text-center">
                <p class="lead">Address <a href="{% url 'order_address' %}"><i class="fa fa-pencil"></i></a></p>
                <p>
                    <b>Billing to:</b><br/>
                    {{ order.billing_address.get_address }}
                </p>
                <p>
                    <b>Shipping to:</b><br/>
                    {{ order.shipping_address.get_address }}
                </p>

            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 text-center">
                <form method="POST" action="{% url 'checkout_final' %}">{% csrf_token %}
                    <input type="hidden" name="payment_token" value="abcd" />
                    <p class="lead text-center"><button class="btn btn-default btn-block" type="submit">Complete Order</button></p>
                </form>
            </div>
        </div>

    {% endif %}

{% endblock content %}
