.text-align-center {
	text-align: center;
}

.messages{
	position: fixed;
	bottom: 10px;
	left: 10px;
	width: 300px;
	z-index: 10;
}

.og-price{
	color:red;
	text-decoration:line-through;
}

.fa-navbar-cart{
	font-size: 20px;
	vertical-align: middle;
}
