{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="col-sm-6 col-sm-offset-3 well">
        <p class="lead text-center">
            {% if 'address/add/' in request.build_absolute_uri %}
                Add Address
            {% else %}
                Select Your Address for this Order
            {% endif %}
        </p>
        <form method="POST" action="">{% csrf_token %}
            <div class="col-sm-8 col-sm-offset-2">
                {{ form|crispy }}
                {% if 'address/add/' in request.build_absolute_uri %}
                    <input type="submit" class="btn btn-default btn-block" value="Add Address" />
                {% else %}
                    <input type="submit" class="btn btn-default btn-block" value="Select" />
                    <a href="{% url 'user_address_create' %}" class="btn btn-default btn-block">Add New Address</a>
                {% endif %}
            </div>
        </form>
    </div>

{% endblock content %}